<hr/>

<div class='header'>
	<center>
		<b><%= @config.app_name %></b> v.<b><%= @config.app_version %></b> | 
		Rails v.<b><%= Rails.version %></b> | 
		env: <b><%= Rails.env %></b> |
		<a href='https://github.com/palladius/ror5-pasta' >Code on GitHub</a>  
	</center>
</div>
