#!/bin/sh

# Change to production when you copy this
RAILS_ENV=development

# You would typically use `rake secret` to generate a secure token. It is
# critical that you keep this value private in production.
SECRET_TOKEN=asecuretokenwouldnormallygohere

# Unicorn is more than capable of spawning multiple workers, and in production
# you would want to increase this value but in development you should keep it
# set to 1.
#
# It becomes difficult to properly debug code if there's multiple copies of
# your application running via workers and/or threads.
WORKER_PROCESSES=1


# This will be the address and port that Unicorn binds to. The only real
# reason you would ever change this is if you have another service running
# that must be on port 8000.
LISTEN_ON=0.0.0.0:3000


# This is how we'll connect to DB in PROD. Note this is not needed in DEV and in TEST.
# For Postgres (note you need to tweak Gemfile for it!)
#DATABASE_URL=postgresql://drkiq:yourpassword@postgres:5432/drkiq?encoding=utf8&pool=5&timeout=5000
# For MYSQL (this works out of the box):
#DATABASE_URL="mysql2://user:pass@1.2.3.4:3306/dbname?encoding=utf8&pool=5&timeout=5000"
# For Sqlite3:
#DATABASE_URL="sqlite:///db/production.sqlite3"
#DATABASE_URL="sqlite3:////%PWD%db/development.sqlite3"
#DATABASE_URL="sqlite3://./db/development.sqlite3"
#DATABASE_URL=""

APP_NAME="pasta-vanilla-dev"

BASIC_AUTH_USER="riccardo"
BASIC_AUTH_PASS="ch4ng3me!"

# DO NOT touch this. Needed to log on stdout: http://blog.bigbinary.com/2016/04/12/rails-5-allows-to-send-log-to-stdout-via-environment-variable.html
RAILS_LOG_TO_STDOUT='true'

#Needed to serve assets in prod. See config.public_file_server.enabled = false in config/initializers/
RAILS_SERVE_STATIC_FILES='true'
