// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.footer {
  background:url(/images/powered_by_palladius.png) center right no-repeat ;
  white-space:nowrap;
  opacity: 0.5;
}

.merdina {
  background:url(/images/poop.png) center right no-repeat ;
  white-space:nowrap;
  opacity: 0.3;
}

.env-production {
  background-color: #eef;
}
