<h1>New Article</h1>

Form_with explained: https://m.patrikonrails.com/rails-5-1s-form-with-vs-old-form-helpers-3a5f72a8c78a

<%= render 'form' %>
 
<%= link_to 'Back to Articles', articles_path %>
<%= link_to 'Home', root_path %>