<h1>RoR5 Pasta - Welcome</h1>

<p>Bella Ricc! Benvenuto in Rails!</p>

<p>This rails app contains <b><%= @articles_count %></b> <%= link_to 'articles', articles_path %> and <%= @comments_count %> comments - stika!</p>

<%= image_tag("pasta.png", :alt => "Spaghetti Arrabbiata") %>
