<h1>RoR5 Pasta - Welcome</h1>

<p>Bella Ricc! Benvenuto in Rails!</p>

<p>This rails app contains <b><%= @articles_count %></b> articles!</p>

<!-- 
  <img src='/images/pasta.png' />
-->
<%= image_tag("pasta.png", :alt => "Spaghetti Arrabbiata") %>


<pre>config: <%= @config %>
</pre>
<p>
  <%= link_to 'Articles', articles_path %>
</p>